<html>
<head>
	<title>LTI Insurance</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <section class="team">
  	 <div class="container">
  	 	  <h1>Our Team</h1>
  	 	  
        <div class="card">
            <div class="box">
                <img src="../../assets/image/avatar.png" alt="team img" />
                <h4>Smriti Tripathi</h4>
                <h5>Lead</h5>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="../../assets/image/avatar.png" alt="team img" />
                <h4>Amit Mishra</h4>
                <h5>Member</h5>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="../../assets/image/avatar.png" alt="team img" />
                <h4>Nihal Rai</h4>
                <h5>Member</h5>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <img src="../../assets/image/avatar.png" alt="team img" />
                <h4>Archit Raj</h4>
                <h5>Member</h5>
            </div>
        </div>
  	 	  
  	 	 
  	 </div>
  </section>

</body>
</html>
