<html>
<head>
    <title> LTI Insurance </title>   
</head>
    <body>
    <div class="login-box">
    <img src="../assets/image/avatar.png" class="avatar">
        <h1>Insurance Plans </h1>
            <form>
            <label for="plans">Plans:</label>
            <select name="plans" id="plans">
                <option value="third_party">Third Party Liability</option>
                <option value="comprehensive">Comprehensive</option>
            </select>

            <label for="duration">Duration</label>
            <select name="duration" id="duration">
                <option value="one_year">One Year</option>
                <option value="two_year">Two Year</option>
                <option value="three_year">Three Year</option>
            </select>
            <input type="submit" name="submit" value="Claim">
               
            </form>
        
        
        </div>
    
    </body>
</html>
