<div id="cont">
    <div class="types">
        
        <a href="/add-vehicle"> <button class="input" ><h5>Buy Insurance</h5></button><br> </a>
        <br>
         <a href="/error"> <button class="input" ><h5>Renew Insurance</h5></button><br></a>
        <br>
      <a href="/error">  <button class="input" ><h5>Claim Insurance</h5></button><br></a>
        <br>
      <a href="/button"><button class="input" ><h5>Estimate Insurance Calculation</h5></button><br></a>
        <br>
    </div>
</div>
 <div class="whyInsu">
            <h2>Why Insurance</h2>
          
          <div class="image"> <img src="./assets/images/why_insurance.jpeg" style="width:500px;height:280px;" class="center" alt="loading"></div>
  </div>
