<html>
<head>
    <title> LTI Insurance </title>   
</head>
    <body>
    <div class="login-box">
    <img src="../assets/image/avatar.png" class="avatar">
        <h1>Forget Password </h1>
            <form (ngSubmit) = "goToOtp()">
            <p>Email</p>
            <input type="email" name="email" [(ngModel)]=email placeholder="">
            
            <input type="submit" name="submit" value="Submit">
               
            </form>
        
        
        </div>
    
    </body>
</html>