<div class="toolbar" role="banner">
  <img
    width="60"
    alt="Angular Logo"
    src="../assets/image/logo.png"
  />
  <h1 style="color: white;   text-align: center">Welcome To LTI Insurance</h1>
    <div class="spacer"></div>
    <ul class="navL">
      
      <li><a style="color:white" [routerLink]="'/home'" routerLinkActive="active">Home</a></li>
      <li *ngIf="!isUserLoggedIn()"><a style="color:white" [routerLink]="'/registration'" routerLinkActive="active">Register</a></li>
      <li *ngIf="!isUserLoggedIn()"><a style="color:white" [routerLink]="'/login'" routerLinkActive="active">Login</a></li>
      <li *ngIf="isUserLoggedIn()"><a style="color:white" [routerLink]="'/home'" (click)="logout()" routerLinkActive="active">Logout</a></li>
      <li><a style="color:white" [routerLink]="'/about'" routerLinkActive="active">About</a></li>
      <li><a style="color:white" [routerLink]="'/contact'" routerLinkActive="active">Contact Us</a></li>
    </ul>
</div>


