.login-box{
    
    margin-top: 20px;
    text-align: center;
    margin-left:50%;
    padding-top: 4%;
    width: 50%;
    padding-bottom: 4%;
     margin-left: 30%;
      margin-right: 20%;
      background-color:rgb(205, 229, 243);
      color: black;
      border-style:groove;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}
/* .login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}  */
.login-box a:hover
{
    color: #39dc79;
}
.input{

    padding: 1.5% 1.5%;
    border-radius:10px;
    padding-left: 10%;
    }
    .error{
        color: red;
    }