<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LTI Insurance</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <div class="wrapper">
    
<!-- profile -->
<section class="profile">
<div  class="records">
    
    <p>Statistics</p> 
    <div>

    <div class="marks">
        <h1 class="orange">{{customerCount}}</h1>
        <p>Customers </p>
    </div>
    <div class="marks">
        <h1 class="blue">{{renewCount}}</h1>
        <p>Renewed</p>
    </div>
    <div class="marks">
        <h1 class="orange">{{claimCount}}</h1>
        <p>Claim<br/>tickets</p>
    </div>
</div>
</div>
<div class="info">
    <img class="profilepic" src="imges/pic.jpg" alt="">
    <p>Welcome! <br>
        <span class="fw">{{name}}</span> <br>
       
    </p>
     
</div>
    
</section>
<section class="details">
   
    <div class="history">
  <h3 class="grey fw"> Claim Tickets: </h3>
        <div class="list b-bottom" *ngFor = "let d of data">
    <div *ngIf="d" class="list-detail">
       <p>{{ d.customer.name }}</p>
      <p>Reason:  <span class="orange">{{d.reason}}</span></p>
    
   </div>
   
    <div class="score grey">
        <p><button class="btn-green" (click)="statusUpdate(d.id, 'Approved')">Approve</button>  <span ><button class="btn-red" (click)="statusUpdate(d.id, 'Not Approved')">Deny</button></span>
    </p>
</div>
</div>

</div>

</section>

</div>
</body>
</html>