<section class="team">
    <div class="container">
          <h1>Our Team</h1>
          
     <div class="card">
         <div class="box">
             <!-- <img src="../../assets/avatar.png" alt="team img" /> -->
             <h4>Aman Raj</h4>
             <h5>Lead</h5>
         </div>
     </div>
     <div class="card">
         <div class="box">
             <!-- <img src="../../assets/avatar.png" alt="team img" /> -->
             <h4>Jidnyasa Falak</h4>
             <h5>Member</h5>
         </div>
     </div>
     <div class="card">
         <div class="box">
             <!-- <img src="../../assets/avatar.png" alt="team img" /> -->
             <h4>Prafulla Raj</h4>
             <h5>Member</h5>
         </div>
     </div>
     <div class="card">
         <div class="box">
             <!-- <img src="../../assets/avatar.png" alt="team img" /> -->
             <h4>Himanshi Singh</h4>
             <h5>Member</h5>
         </div>
     </div>
     <div class="card">
        <div class="box">
            <!-- <img src="../../assets/avatar.png" alt="team img" /> -->
            <h4>Monisha Chakka</h4>
            <h5>Member</h5>
        </div>
    </div>
          
         
    </div>
</section>
